<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Accesso Prohibido</title>
        <link rel="stylesheet" type="text/css" href="../Components/Library/extjs/resources/css/ext-all.css">
        <script type="text/javascript" src="../Components/Library/extjs/ext-all-debug.js"></script>
        <script type="text/javascript" src="../Application/View/Error/ForbidView.js" ></script>
    </head>
    <body>
    </body>
</html>
